In [184]:
import pandas as  pd

In [289]:
data=pd.read_csv("서울특별시 노인사고 _ 동_19.csv", encoding='cp949')

In [290]:
data

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
1,2019010100100022,2019년 1월 1일 01시,화요일,서울특별시 노원구 공릉동,경상사고,0,0,3,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,49세,상해없음,승용,남,27세,경상
2,2019010100100044,2019년 1월 1일 02시,화요일,서울특별시 노원구 상계동,경상사고,0,0,3,0,차대차 - 추돌,...,흐림,단일로 - 기타,화물,남,51세,상해없음,승용,남,37세,상해없음
3,2019010100100072,2019년 1월 1일 05시,화요일,서울특별시 중랑구 망우동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,남,67세,상해없음,보행자,남,75세,경상
4,2019010100100086,2019년 1월 1일 06시,화요일,서울특별시 노원구 월계동,중상사고,0,1,0,0,차대차 - 기타,...,맑음,단일로 - 기타,화물,남,46세,상해없음,자전거,남,73세,중상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5906,2019123100100284,2019년 12월 31일 14시,화요일,서울특별시 강남구 논현동,경상사고,0,0,5,0,차대차 - 정면충돌,...,맑음,교차로 - 교차로안,승용,남,43세,상해없음,승용,남,53세,경상
5907,2019123100100355,2019년 12월 31일 16시,화요일,서울특별시 광진구 구의동,경상사고,0,0,1,0,차대차 - 측면충돌,...,맑음,교차로 - 교차로안,자전거,여,70세,경상,승용,남,73세,상해없음
5908,2019123100100436,2019년 12월 31일 18시,화요일,서울특별시 강동구 성내동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,37세,기타불명,승합,남,63세,기타불명
5909,2019123100100500,2019년 12월 31일 19시,화요일,서울특별시 성북구 돈암동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,여,68세,상해없음,보행자,여,68세,경상
5910,2019123100100582,2019년 12월 31일 21시,화요일,서울특별시 강서구 화곡동,중상사고,0,1,0,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,여,45세,상해없음,보행자,여,69세,중상

In [291]:
data_1=data[['사고유형','피해운전자 연령','피해운전자 상해정도']]

In [292]:
data_1.dropna(subset=['피해운전자 연령'])

            사고유형 피해운전자 연령 피해운전자 상해정도
0       차대차 - 추돌      71세         경상
1       차대차 - 추돌      27세         경상
2       차대차 - 추돌      37세       상해없음
3     차대사람 - 횡단중      75세         경상
4       차대차 - 기타      73세         중상
...          ...      ...        ...
5906  차대차 - 정면충돌      53세         경상
5907  차대차 - 측면충돌      73세       상해없음
5908    차대차 - 기타      63세       기타불명
5909  차대사람 - 횡단중      68세         경상
5910   차대사람 - 기타      69세         중상

[5653 rows x 3 columns]

In [293]:
str(data_1['피해운전자 연령'])

'0       71세\n1       27세\n2       37세\n3       75세\n4       73세\n       ... \n5906    53세\n5907    73세\n5908    63세\n5909    68세\n5910    69세\nName: 피해운전자 연령, Length: 5911, dtype: object'

for i in range(0:):
    data_1['피해운전자 연령'].loc[i].rstrip('세')
    int(data_1['피해운전자 연령'].loc[i])
    i+=1

In [294]:
data_1['피해운전자 연령']=data_1['피해운전자 연령'].str.rstrip('세')

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [295]:
data_1

            사고유형 피해운전자 연령 피해운전자 상해정도
0       차대차 - 추돌       71         경상
1       차대차 - 추돌       27         경상
2       차대차 - 추돌       37       상해없음
3     차대사람 - 횡단중       75         경상
4       차대차 - 기타       73         중상
...          ...      ...        ...
5906  차대차 - 정면충돌       53         경상
5907  차대차 - 측면충돌       73       상해없음
5908    차대차 - 기타       63       기타불명
5909  차대사람 - 횡단중       68         경상
5910   차대사람 - 기타       69         중상

[5911 rows x 3 columns]

In [296]:
data_2=data_1.dropna(subset=['피해운전자 연령'])

In [300]:
data_2

            사고유형 피해운전자 연령 피해운전자 상해정도
0       차대차 - 추돌       71         경상
1       차대차 - 추돌       27         경상
2       차대차 - 추돌       37       상해없음
3     차대사람 - 횡단중       75         경상
4       차대차 - 기타       73         중상
...          ...      ...        ...
5906  차대차 - 정면충돌       53         경상
5907  차대차 - 측면충돌       73       상해없음
5908    차대차 - 기타       63       기타불명
5909  차대사람 - 횡단중       68         경상
5910   차대사람 - 기타       69         중상

[5653 rows x 3 columns]

In [301]:
data_3=data_2[data_2['피해운전자 연령']!='미분류']

In [302]:
data_3

            사고유형 피해운전자 연령 피해운전자 상해정도
0       차대차 - 추돌       71         경상
1       차대차 - 추돌       27         경상
2       차대차 - 추돌       37       상해없음
3     차대사람 - 횡단중       75         경상
4       차대차 - 기타       73         중상
...          ...      ...        ...
5906  차대차 - 정면충돌       53         경상
5907  차대차 - 측면충돌       73       상해없음
5908    차대차 - 기타       63       기타불명
5909  차대사람 - 횡단중       68         경상
5910   차대사람 - 기타       69         중상

[5644 rows x 3 columns]

In [303]:
data_3.dtypes

사고유형          object
피해운전자 연령      object
피해운전자 상해정도    object
dtype: object

In [304]:
data_3['피해운전자 연령']=data_3['피해운전자 연령'].astype(int)

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [305]:
data_4=data_3[data_3['피해운전자 연령']>=65]

In [306]:
data_4

            사고유형  피해운전자 연령 피해운전자 상해정도
0       차대차 - 추돌        71         경상
3     차대사람 - 횡단중        75         경상
4       차대차 - 기타        73         중상
6     차대차 - 측면충돌        65         경상
7     차대차 - 측면충돌        66         경상
...          ...       ...        ...
5904  차대차 - 측면충돌        65         중상
5905  차대차 - 측면충돌        77         경상
5907  차대차 - 측면충돌        73       상해없음
5909  차대사람 - 횡단중        68         경상
5910   차대사람 - 기타        69         중상

[4308 rows x 3 columns]

In [334]:
data_5=data_4.dropna(subset=['사고유형'])

In [335]:
data_5

            사고유형  피해운전자 연령 피해운전자 상해정도
0       차대차 - 추돌        71         경상
3     차대사람 - 횡단중        75         경상
4       차대차 - 기타        73         중상
6     차대차 - 측면충돌        65         경상
7     차대차 - 측면충돌        66         경상
...          ...       ...        ...
5904  차대차 - 측면충돌        65         중상
5905  차대차 - 측면충돌        77         경상
5907  차대차 - 측면충돌        73       상해없음
5909  차대사람 - 횡단중        68         경상
5910   차대사람 - 기타        69         중상

[4308 rows x 3 columns]

In [310]:
pd.Series.unique(data_5['사고유형'])

array(['차대차 - 추돌', '차대사람 - 횡단중', '차대차 - 기타', '차대차 - 측면충돌', '차대사람 - 차도통행중',
       '차대사람 - 보도통행중', '차대사람 - 기타', '차대차 - 정면충돌', '차대차 - 후진중충돌',
       '차대사람 - 길가장자리구역통행중'], dtype=object)

In [341]:
data_5=data_4[data_4['사고유형']!='차대차 - 추돌']

In [342]:
data_6=data_5[data_5['사고유형']!='차대차 - 기타']

In [343]:
data_7=data_6[data_6['사고유형']!='차대차 - 측면충돌']

In [344]:
data_8=data_7[data_7['사고유형']!='차대차 - 정면충돌']

In [345]:
data_9=data_8[data_8['사고유형']!='차대차 - 후진중충돌']

In [346]:
data_9

              사고유형  피해운전자 연령 피해운전자 상해정도
3       차대사람 - 횡단중        75         경상
12      차대사람 - 횡단중        75         중상
13      차대사람 - 횡단중        66         중상
14      차대사람 - 횡단중        74         경상
15    차대사람 - 차도통행중        65         중상
...            ...       ...        ...
5899    차대사람 - 횡단중        76         경상
5900  차대사람 - 차도통행중        80         사망
5902     차대사람 - 기타        93         중상
5909    차대사람 - 횡단중        68         경상
5910     차대사람 - 기타        69         중상

[2225 rows x 3 columns]

In [347]:
pd.Series.unique(data_9['사고유형'])

array(['차대사람 - 횡단중', '차대사람 - 차도통행중', '차대사람 - 보도통행중', '차대사람 - 기타',
       '차대사람 - 길가장자리구역통행중'], dtype=object)

In [348]:
len(data_9) #차대 사람 총 사고 건수

2225

In [455]:
data_10=data_9[data_9['사고유형']=='차대사람 - 횡단중']

In [438]:
len(data_10)

855

In [432]:
data_10

           사고유형  피해운전자 연령 피해운전자 상해정도
26    차대사람 - 기타        76         중상
30    차대사람 - 기타        66         경상
33    차대사람 - 기타        75         경상
53    차대사람 - 기타        70         경상
59    차대사람 - 기타        72         중상
...         ...       ...        ...
5871  차대사람 - 기타        78         경상
5878  차대사람 - 기타        72         경상
5887  차대사람 - 기타        70         경상
5902  차대사람 - 기타        93         중상
5910  차대사람 - 기타        69         중상

[885 rows x 3 columns]

In [456]:
data_11=data_10[data_10['피해운전자 상해정도']=='사망']

In [457]:
data_11

            사고유형  피해운전자 연령 피해운전자 상해정도
124   차대사람 - 횡단중        71         사망
227   차대사람 - 횡단중        77         사망
261   차대사람 - 횡단중        66         사망
262   차대사람 - 횡단중        77         사망
495   차대사람 - 횡단중        76         사망
564   차대사람 - 횡단중        67         사망
576   차대사람 - 횡단중        84         사망
680   차대사람 - 횡단중        89         사망
1147  차대사람 - 횡단중        68         사망
1240  차대사람 - 횡단중        75         사망
1322  차대사람 - 횡단중        71         사망
1488  차대사람 - 횡단중        76         사망
1773  차대사람 - 횡단중        79         사망
1878  차대사람 - 횡단중        66         사망
1886  차대사람 - 횡단중        77         사망
2953  차대사람 - 횡단중        74         사망
3231  차대사람 - 횡단중        65         사망
3263  차대사람 - 횡단중        68         사망
3500  차대사람 - 횡단중        79         사망
3828  차대사람 - 횡단중        67         사망
3874  차대사람 - 횡단중        65         사망
3951  차대사람 - 횡단중        78         사망
4000  차대사람 - 횡단중        75         사망
4012  차대사람 - 횡단중        67         사망
4298  차대사람 - 횡단중        68         사망
4309  차대사람 - 횡단중        81         사망
4415  차대사람 - 횡단중        74         사망
4444  차대사람 - 횡단중        73         사망
4715  차대사람 - 횡단중        65         사망
4736  차대사람 - 횡단중        72         사망
4837  차대사람 - 횡단중        78         사망
4852  차대사람 - 횡단중        84         사망
4904  차대사람 - 횡단중        88         사망
5004  차대사람 - 횡단중        82         사망
5021  차대사람 - 횡단중        85         사망
5889  차대사람 - 횡단중        66         사망

In [440]:
len(data_11)

36

In [441]:
len(data_11)/len(data_10)

0.042105263157894736

In [454]:
len(data_10)/len(data_9)

0.04943820224719101

In [458]:
data_11.to_csv("노인 교통사고 횡단중.csv", encoding='cp949')